<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="agua.flaviodeoliveira.com.agua">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TemaSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.ConsultaPedidoActivity"
            android:label="@string/title_activity_consulta_pedido"
            android:parentActivityName=".activitys.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="agua.flaviodeoliveira.com.agua.activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.AdmPedidosActivity"
            android:label="@string/title_activity_adm_pedidos"
            android:parentActivityName=".activitys.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="agua.flaviodeoliveira.com.agua.activitys.MainActivity" />
        </activity>
        <activity android:name=".activitys.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
    </application>

</manifest>